.products {
    position: relative;
    margin: 10px;
    /*touch-action: pan-x pan-y;*/
}
.products__title {
    width: 100vw;
    height: 50vh;
}

.products__box {
    text-align: center;

}

.products__box__list {
    display: flex;
    justify-content: columns;
    justify-content:center;
    align-content:center;
    overflow: hidden;
    margin:auto;
}

.product {
    position:relative;
    height:200px;
    margin:5px;
    overflow:hidden;
}


.product__image {
    position: relative;
    border: solid;
    left: 0;
    top: 0;
    height:100%;
    margin:auto;
    overflow: hidden;
}

.product__name{
    position:absolute;
    top:0;
    width:100%;
    font-family: 'Bubbler One', sans-serif;
    font-size:30px;
    font-weight: bold;
    color:white;
}

.product__description {
    position: absolute;
    top: 30%;
    width: 100%;
    font-family: 'Bubbler One', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.product__button {
    position: absolute;
    top: 70%;
    width: 100%;
    left:0;
    font-family: 'Bubbler One', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.products__box:hover > .products__button__left, .products__button__right {
    transition: all 1s;
    opacity: 1;
}


.products__box:hover > .products__button__right {
    transition: all 1s;
    opacity: 1;
}



.products__button__left {
    position: absolute;
    left: 10px;
    top: 45%;
    opacity: 0;
    transition: all 1s;
}

.products__button__left:after {
    content: "\003c\003c\003c";
}

.products__button__right {
    position: absolute;
    right: 10px;
    top: 45%;
    opacity: 0;
    transition: all 1s;
}

.products__button__right:after {
    content: "\003e\003e\003e";
}

.moveLeft-enter {
    transform: translateX(1500px);
}

.moveLeft-enter.moveLeft-enter-active {
    transform: translateX(0px); 
    transition: all 500ms ease-in;
}

.moveLeft-leave {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveLeft-leave.moveLeft-leave-active {
    transform: translateX(-1500px);
    transition: all 500ms ease-in;
}

/* Move Right*/
.moveRight-enter {
    transform: translateX(-1500px);
}

.moveRight-enter.moveRight-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveRight-leave {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveRight-leave.moveRight-leave-active {
    transform: translateX(1500px);
    transition: all 500ms easin;
}


/* Move Up*/
.moveUp-enter {
    transform:scale(0);
}

.moveUp-enter.moveUp-enter-active {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.moveUp-leave {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.moveUp-leave.moveUp-leave-active {
    transform: scale(0);
    transition: all 500ms ease-in;
}

