.products {
    margin: 10px;
}
.products__title {
    width: 100vw;
    height: 50vh;
}

.products__box {
    text-align: center;

}

.products__box__list {
    display: flex;
    justify-content: columns;
    justify-content:center;
    align-content:center;
    overflow: hidden;
    margin:auto;
}

.product {
    position:relative;
    height:200px;
    margin:5px;
}


.product__image {
    position: relative;
    border: solid;
    left: 0;
    top: 0;
    height:100%;
    margin:auto;
    overflow: hidden;
}

.product > h3, h4 {
    margin: 5px;
    font-family: 'Bubbler One', sans-serif;
    font-weight: bold;
}

.product > button {
    width: 50%;
    border: solid;
}
/* Move Left*/
.moveLeft-enter {
    transform:translateX(1500px);
}

.moveLeft-enter.moveLeft-enter-active {
    transform: translateX(0px); 
    transition: all 500ms ease-in;
}

.moveLeft-leave {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveLeft-leave.moveLeft-leave-active {
    transform: tranlateX(-1500px);
    transition: all 500ms ease-in;
}

/* Move Right*/
.moveRight-enter {
    transform: tranlateX(-1500px);
}

.moveRight-enter.moveRight-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveRight-leave {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveRight-leave.moveRight-leave-active {
    transform: traslateX(1500px);
    transition: all 500ms easin;
}


/* Move Up*/
.moveUp-enter {
    transform:scale(0);
}

.moveUp-enter.moveUp-enter-active {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.moveUp-leave {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.moveUp-leave.moveUp-leave-active {
    transform: scale(0);
    transition: all 500ms ease-in;
}

