@keyframes flash{
    0%{
        transform:scale(1);
        opacity:0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.products {
    position: relative;
    margin: 10px;
    /*touch-action: pan-x pan-y;*/
}
.products__title {
    width: 100vw;
    height: 50vh;
}

.products__box__title {
    font-family: FjallaOne-Regular;
    font-size: 40px;
    color: #FFFFFF;
}

.products__box {
    text-align: center;
}

.products__box__items__list {
    position: relative;
    display: flex;
    justify-content: columns;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin: auto;
}

.products__box__items__button {
    position: absolute;
    opacity: 0;
    border: 0;
    top: 30%;
    height: 40%;
    color: #D41346;
    background-color: transparent;
    font-size: 25px;
}
.products__box__items__button__left {
    left: 10px;
}

.products__box__items__button__left:after {
    content: "\003c\003c\003c";
}

.products__box__items__button__right {
    right: 10px;
}

.products__box__items__button__right:after {
    content: "\003e\003e\003e";
}


.products__box__items__list:hover > .products__box__items__button__right {
    animation: flash 1s infinite;
}

.products__box__items__list:hover > .products__box__items__button__left {
    animation: flash 1s infinite;
}

.moveLeft-enter {
    transform: translateX(1500px);
    transition: all 500ms ease-in;
}

.moveLeft-enter.moveLeft-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}


.moveLeft-leave {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveLeft-leave.moveLeft-leave-active {
    transform: translateX(-1500px);
    transition: all 500ms ease-in;
}



/* Move Right*/
.moveRight-enter {
    transform: translateX(-1500px);
    transition: all 500ms ease-in;
}

.moveRight-enter.moveRight-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveRight-leave {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.moveRight-leave.moveRight-leave-active {
    transform: translateX(1500px);
    transition: all 500ms easin;
}


/* Move Up*/
.moveUp-enter {
    transform:scale(0);
}

.moveUp-enter.moveUp-enter-active {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.moveUp-leave {
    transform: scale(1);
    transition: all 500ms ease-in;
}

.moveUp-leave.moveUp-leave-active {
    transform: scale(0);
    transition: all 500ms ease-in;
}

