.product {
    position: relative;
    /*height: 200px;*/
    margin: 5px;
    overflow: hidden;
}


.product__image {
    border: solid;
    left: 0;
    top: 0;
    height: 200px;
    margin: auto;
    overflow: hidden;
}

.product__name {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Bubbler One', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    margin:auto;
}

.product__name > img {
    position:relative;
    width: 90%;
    top:-15px;
}

.product__name > h3 {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.product__description {
    position: absolute;
    top: 30%;
    width: 100%;
    font-family: 'Bubbler One', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.product__link {
    position: absolute;
    bottom: 5%;
    width: 20%;
    margin: auto;
    left: 40%;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    font-family: .SFNSText;
    font-size: 12px;
    color: #FFFFFF;
    background-image: linear-gradient(-225deg, #90278E 0%, #EC1C24 100%);
    border-radius: 3px;
    opacity:0.75;
}

.product__link:hover {
    opacity: 1;
}
