.store {
    position: relative;
    text-align:center;
    background-image: linear-gradient(-180deg, #EC2A7C 47%, #D41346 100%);
    border: 1px solid #979797;
}

.store h1 {
    font-family: FjallaOne-Regular;
    font-size: 60px;
    color: #FFFFFF;
}

.store > object > svg{
    margin-top:150px;
}

.store__title {
    margin-top: 150px;
}

